@model Product

@{ ViewData["Title"] = "Products details"; }

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageUrl" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Company: </b>
                            <a asp-controller="Companies" asp-action="Details" asp-route-id="@Model.CompanyId">
                                @Model.Company.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Brand: </b>
                            <a asp-controller="Brands" asp-action="Details" asp-route-id="@Model.BrandId">
                                @Model.Brand.FullName
                            </a>
                        </p>
                        <p class="card-text"><b>Category: </b>@Model.ProductCategory</p>
                        <p class="card-text"><b>Start Date: </b>@Model.ManufactureDate.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>End Date: </b>@Model.ExpiredDate.ToString("dd MMM yy")</p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @if (DateTime.Now >= Model.ManufactureDate && DateTime.Now <= Model.ExpiredDate)
                            {
                <span class="badge bg-success text-white">AVAILABLE</span> }
                            else if (DateTime.Now > Model.ExpiredDate)
                            {
                <span class="badge bg-danger text-white">EXPIRED</span> }
                            else
                            {
                <span class="badge bg-primary text-white">UPCOMING</span>}
                        </p>
                        <p class="card-text">
                            <b>Suppliers: </b>
                            <hr />
                            <div class="row">
                                @foreach (var actor in Model.Supplier_Products)
                                {
                    <div class="column text-center">
                        <img class="border-info rounded-circle" src="@actor.Supplier.ProfilePictureUrl" style="max-width: 150px" />
                        <br />
                        <a asp-controller="Suppliers" asp-action="Details" asp-route-id="@actor.SupplierId">@actor.Supplier.FullName</a>
                    </div>}
                            </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                            <a class="btn btn-success text-white  @((DateTime.Now > Model.ExpiredDate) ? "disabled" : "")"
                               asp-controller="Orders"
                               asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>